parameters:
  mixinExcludeClasses:
    - Eloquent
  level: 6
  paths:
    - app
    - tests
  scanFiles:
    - _ide_helper.php
  excludePaths:
    - vendor
    - app/Http/Middleware/TrustProxies.php
    - app/Providers/RouteServiceProvider.php
    - app/Http/Middleware/Authenticate.php
  ignoreErrors:
    -
      message: '#has no return type(hint)? specified#'
      paths:
        - tests
    - '#Access to undefined constant Illuminate\\Http\\Request::(.+?)#'
    - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Guard::(.+?)#'
    - '#Call to an undefined method Illuminate\\Http\\Request::(.+?)#'
    - '#Call to an undefined static method Illuminate\\Support\\Arr::#'
    - '#Call to an undefined static method Illuminate\\Support\\Facades\\#'
    - '#Call to an undefined static method Illuminate\\Support\\Js::#'
    - '#Call to an undefined static method Illuminate\\Support\\Str::#'

  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
