parameters:
  level: 6
  paths:
    - app
    - tests
  scanFiles:
    - _ide_helper.php
    - _ide_helper_models.php
  excludes_analyse:
    - app/Http/Middleware/TrustProxies.php
    - app/Providers/RouteServiceProvider.php
    - app/Http/Middleware/Authenticate.php
  ignoreErrors:
    -
      message: '#has no return typehint specified#'
      paths:
        - tests
        - app/Models
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
